.product{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;

}

img{
    height: 40vh;
    width: 10vh;

}

.product{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(2, 2, 2, 0.671)), url('./pic/servicebg.jpg')center/cover no-repeat fixed;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}

.btn{
    text-align: center;
}

.card-container{
    width: 200px;
    height: 300px;
}

.cards{
     width: 100%;
     height: 100%;
     transition: transform 1s ease-in-out;
     transform-style: preserve-3d;
}

.card-container:hover .cards{
    transform: rotateY(180deg);
}

.cards figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards .front{
    background: #284788;
    color: white;
    text-align: center;
}

.cards .back{
    background: rgb(4, 139, 117);
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

.back button{
    background: rgb(8, 68, 124);
    color: white;
    border: none;
    padding: 10px 20px;
}